

#content .container-fluid .row {
    width: 100%;
    height: 100vh;
}

#content .container-fluid .row .images {
    height: 100%;
    background-color: #201E43;
}

#content .container-fluid .row .images img {
    width: 30%;
    height: auto;
    background-color: white;
    border-radius: 100%;
}

#content .container-fluid .row .forms {
    background-color: #47A0B7;
}

#content .container-fluid .row .forms form .col-8 {
    height: 100vh;
    margin: 0 auto;
}

#content .container-fluid .row .forms form .col-8 .col-12 .input-group{
    background-color: #D9D9D9;
    border-radius: 6px;
}

#content .container-fluid .row .forms form .col-8 .col-12 .input-group span,
#content .container-fluid .row .forms form .col-8 .col-12 .input-group input
{
    background: transparent;
    border: none;
    box-shadow: none;
}

#content .container-fluid .row .forms form .col-8 .col-12 .btn{
    width: 100%;
    background-color: #134B70;
    color: white;
}

#content .container-fluid .row .forms form .col-8 .col-12 .btn:focus{
    border: #134B70 1px solid;
}

#content .container-fluid .row .forms form .col-8 .col-12 .title-log  hr{
    width: 46%;
    color: black;
}

